[submodule "Google Drive/Movement Creator/ooshFE/oosh-movement-creator-app-fe-60/oosh-movement-creator-app-fe-60"]
    path = Google Drive/Movement Creator/ooshFE/oosh-movement-creator-app-fe-60/oosh-movement-creator-app-fe-60
    url = https://github.com/serenelion/oosh-movement-creator-app-fe-60.git
